/accounts/migrations/
/questions/migrations/
/media/avatars/avatar_67NSyIG.png
/media/avatars/avatar_agftQ8O.png
/media/avatars/avatar_hdZbLnO.png
/media/avatars/avatar_QfFe6NJ.png
/media/avatars/card.jpg
/media/avatars/DSC03424.JPG
/media/avatars/image_2.jpg
/media/avatars/image_2_mZwnf0k.jpg
/media/avatars/shutterstock_1179758536-1000x500.jpg
/media/avatars/sid.jpg
/templates/_base_bk.html
/templates/answers.html
/templates/questions.html
list.bk
question_form.html
.idea
*.pyc
*/__pycache__/
